body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 350px;
  height: 470px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 350px;
  height: 470px;
  overflow-y: hidden;
}


::-webkit-scrollbar {
  width: 10px;
  height: 18px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  border-radius: 5px;
  background-color: #FF8484;
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b83737c9;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}